:root
{
    --color-background: #F7E5B9;
    --color-blue-light: #888ef8;
    --color-blue-dark: #212a33;
    --color-gray: #83878b;
    --color-yellow: #F1A504;
    --color-yellow-dark: #d79509;
    --color-red: #F04C66;
    --color-green: #04947D;
    --color-pink: #FFA3A4;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
}

body
{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

a
{
    text-decoration: none;
    color: var(--color-blue-dark);
}

p
{
    color: var(--color-blue-dark);
}

li
{
    list-style: none;
}

.green-background
{
    background: var(--color-green);
}

.pink-background
{
    background: var(--color-pink);
}

.yellow-background
{
    background: var(--color-yellow);
}

.blue_dark-background
{
    background: var(--color-blue-dark);
}
